body {
    margin: 0;
}

.container {
    /* overflow: hidden; */
    width: 100vw;
    height: 100vh;
    background-color: rgb(17, 17, 17);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
img {
    width: 20rem;
    transition: all .3s ease-in-out;
    /* pointer-events: none; */
    border: 2px red solid;
    border-radius: 50%;
}

/* img:hover {
    scale: 2;
} */

.testowe {
    height: 100px;
    width: 100px;
    background-color: beige;
}

.powiekszenie {
    scale: 1.4;
}