:root {
  --width-planet: 14vw;
  --width-sun: 34vw;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: rgb(59, 56, 56);
}

.main {
  background-image: url("../img/f.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: max-content;
  min-width: 100%;
  background-attachment: fixed;
}

.container {
  width: max-content;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-image: url("../img/f.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  transition: all 0.3s ease;
}
.planets {
  width: var(--width-planet);
  transition: all 1s ease;
  border-radius: 50%;
}

.planets:nth-child(1) {
  width: var(--width-sun);
}

.planets.on-top {
  /* transform: translateX(calc((100vw - (var(--width-planet)*3)) / 2)); */
  width: calc(var(--width-planet) * 3);
}

.planets:nth-child(1).on-top {
  width: calc(var(--width-sun) * 1.5);
}

.planets.hidden {
  width: 0;
  opacity: 0;
  pointer-events: none;
}

.main.on-top {
  /* width: 100%; */

}

.container.on-top {
  /* overflow: hidden; */
  background-attachment: local;
  justify-content: flex-start;
}
